/**
 * Created with JetBrains PhpStorm.
 * User: Alexander Galych
 * email: galych@zfort.com
 * Date: 7/24/13
 * Time: 12:04 PM
 * To change this template use File | Settings | File Templates.
 */

div{
    margin:0;
    padding:0;
}

html, body, #article, header{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0px;
    background: #f2f2f2;
    font-family: Verdana;
    font-size: 16px;
    overflow:auto;
}

html{
    min-height: 100%;
    height: 100%;
}

html body{
    min-height: 100%;
    height: 100%;
    position: relative;
}

/* Style for presentation */

#article .presentation .presentation-container,
#article .presentation .presentation-name,
#article .presentation-content,
#article .presentation-content .new-presentation,
#article .presentation .new-slide{
    border: solid 1px #999999;
    border-bottom: none;
    padding: 15px 20px;
}

#article .presentation .presentation-container{
    border-top: none;
    overflow: hidden;
}

/* stiles for presentation area */
.presentation-container .slides,
.presentation-container .presentation-window{
    float: left;
    position: relative;
}

.presentation-container .presentation-window .controls{
    position: absolute;
    bottom: 0px;
    left: 15%;
    right: 15%;
    opacity: 0.1;
    background-color: #555555;
    width: 70%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.presentation-window .controls .controls-buttons,
.presentation-window .controls .controls-slider{
    float: left;
    height: 50px;
    width: 30%;
    margin-left: 5%;
}

.presentation-window .controls .controls-slider{
    width: 55%;
    float: right;
    margin: 25px 2% 0px 5%;
    height: 2px;
}

/* end style for presentation */

.presentation-container .presentation-window{
    float: right;
    height: 500px;
    background-color: #cd0a0a;
    min-width: 800px;
    width: 80%;
    border-radius: 10px;
}

#article .presentation .presentation-name{
    border-bottom: solid 1px #999999;
}

#article .presentation-content .new-presentation{
    padding-left: 0px;
}

#article .presentation .presentation-name{
    overflow: hidden;
    cursor: pointer;
}

#article .presentation .presentation-name .name{
    float: left;
}

#article .presentation{
    margin-bottom: 1px;
    background-color: #d7d7d7;
}

#article .presentation .presentation-slides{
    background-color: #EFEFEF;
}

#article .presentation-content{
    padding: 0px;
    border: solid 1px #999;
    margin: 30px;
    background-color: #fff;
}

.presentation .presentation-container .presentation-slide{
    overflow: hidden;
    width: 170px;
    height: 40px;
    margin-bottom: 10px;
}

.presentation .presentation-container .presentation-slide .presentation-slide-text{
    width: 100px;
    padding: 10px;
    background: rgba(0,0,255,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0000ff', endColorstr='#0000ff'); /* IE shit */
    border-radius: 5px;
    color: #fff;
    float: left;
}

.presentation .presentation-container .presentation-slide .presentation-slide-text input{
    width: 100%;
    height: 100%;
}

.presentation .presentation-container .presentation-slide .presentation-slide-controls,
.presentation .presentation-name .presentation-name-controls{
    float: right;
    overflow: hidden;
    margin-top: 10px;
}

.presentation .presentation-name .presentation-name-controls{
    float: left;
    margin: 0px;
}

.presentation-content .top{
    height: 20px;
    margin-bottom: 30px;
    background-color: #EFEFEF;
    padding: 20px;
    border-bottom: solid 1px #999999;
    margin: 0px;
    cursor: pointer;
}

.presentation-content .bottom{
    padding: 30px;
}

.presentation-content .top .name{
    float: left;
    font-weight: bold;
}

.presentation .presentation-container .presentation-slide .presentation-slide-controls div,
.presentation-name .hide-presentation,
.presentation-name .show-presentation,
.hide-all, .show-all,
.presentation .presentation-name .presentation-name-controls div{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.presentation-name .show-presentation,
.presentation-name .hide-presentation,
.hide-all, .show-all{
    float: right;
    width: 0;
    height: 0;
    margin-top: 6px;
}

.hide-all,
.presentation-name .hide-presentation{
    border-top: 8px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.show-all,
.presentation-name .show-presentation{
    border-left: 8px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.presentation .presentation-container .presentation-slide .presentation-slide-controls .presentation-slide-controls-done,
.presentation .presentation-name .presentation-name-controls .presentation-name-controls-done{
    display: none;
}

.presentation .presentation-container .presentation-slide .presentation-slide-controls div img,
.presentation .presentation-name .presentation-name-controls div img{
    width: 100%;
    height: 100%;
}

#article .presentation-content .new-presentation,
#article .presentation .new-slide{
    border-bottom: solid 1px #999999;;
    border-top: none;
    overflow: hidden;
    padding-top: 0px;
}

#article .presentation-content .new-presentation{
    border: none;
    margin-top: 30px;
}

#article .presentation-content .new-presentation div,
#article .presentation .new-slide div{
    float: left;
}

#article .presentation-content .new-presentation .new-presentation-button,
#article .presentation .new-slide .new-slide-button{
    width: 110px;
    background: rgba(0,0,100,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000064', endColorstr='#000064'); /* IE shit */
}

#article .presentation-content .new-presentation .new-presentation-button{
    width: 150px;
}

#article .presentation-content .new-presentation .new-presentation-input,
#article .presentation .new-slide .new-slide-input{
    margin: 2px 0px 0px 7px;
    width: 100px;
}

#article .presentation-content .new-presentation .new-presentation-input{
    width: 260px;
}

#article .presentation-content .new-presentation .new-presentation-input input,
#article .presentation .new-slide .new-slide-input input{
    width: 100%;
}

#presentation .presentation-name{
    text-align: center;
    font-size: 14px;
}

/* End Style for presentation */


body #article, header{
    display: block;
}

body #article{
    margin: 0px;
    overflow: hidden;
}

body #article .content{
    margin: 40px 0px 0px;
}